.question-table {
  width: 100%;
}

.mat-column-position {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-question,
.mat-column-answer,
.mat-column-actions {
  padding-left: 16px;
  font-size: 18px;
}

.mat-column-actions {
  white-space: nowrap;
  text-align: right;

  button {
    margin-right: 8px;
  }

  button:last-child {
    margin-right: 0;
  }
}

.text-uppercase {
  text-transform: uppercase;
}
